$color-primary: #922364;
$color-background-bright: #EEEEEE;
$color-background-primary: #260F1D;

$color-text-bright: #FFFFFF;
$color-text-warning: rgba(255, 50, 50, 0.8);
$color-text-faded: rgba(255, 255, 255, 0.7);

$radius-small: 5px;
$radius-large: 10px;