<!-- dialog title -->
<h2 mat-dialog-title>Manage Members</h2>

<!-- total users added and removed -->
<small>
  Adding {{addCount}} user<span *ngIf="addCount!=1">s</span>, 
  Removing {{removeCount}} user<span *ngIf="removeCount!=1">s</span>
</small>

<mat-dialog-content class="content">

  <!-- table of all users with checkboxes indicating if they are included -->
  <!-- columns: checkbox, username, email -->
  <table>
    <tr *ngFor="let user of availableUsers; index as i">
      <td>
          <mat-checkbox class="" [(ngModel)]="selection[i]" (change)="updateTally()"></mat-checkbox>
      </td>
      <td>
        {{user.username}}
      </td>
      <td>
        {{user.useremail}}
      </td>
    </tr>
  </table>

</mat-dialog-content>

<!-- navigation buttons -->
<mat-dialog-actions>
    <button class="mat-raised-button" (click)="cancel()">Cancel</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>