<table id="content">
  <tr class="top-row">
    <td class="title">CHATTY CHAT</td>
    <td class="top-bar" colspan="2">
      <span class="channel-name">{{channel_name}}</span>
      <button class="sign-out" mat-stroked-button>Sign out</button>
    </td>
  </tr>
  <tr class="middle-row">
    <td class="groups">Groups</td>
    <td class="messages">Messages</td>
    <td class="participants" rowspan="2" style="width: 200px;">Participants</td>
  </tr>
  <tr class="bottom-row">
    <td class="user-settings">User</td>
    <td class="new-message">New message</td>
  </tr>
</table>
