<table id="content">
  <tr class="top-row">

    <!--  ------------- 
          | X |     | |  
          -------------  
          |   |     | |  
          |   |     | | 
          |   |     | |  
          ----------| |  
          |   |     | |  
          -------------  -->
    <td class="title">CHATTY CHAT</td>

    <!--  ------------- 
          |   |  X  | |  
          -------------  
          |   |     | |  
          |   |     | | 
          |   |     | |  
          ----------| |  
          |   |     | |  
          -------------  -->
    <td class="top-bar">
      <span class="channel-name"># {{channel_name}}</span>
    </td>

    <!--  ------------- 
          |   |     |X|  
          -------------  
          |   |     | |  
          |   |     | | 
          |   |     | |  
          ----------| |  
          |   |     | |  
          -------------  -->
    <td class="sign-out">
      <button mat-stroked-button>Sign out</button>
    </td>
  </tr>
  <tr class="middle-row">
    
    <!--  ------------- 
          |   |     | |  
          -------------  
          |   |     | |  
          | X |     | | 
          |   |     | |  
          ----------| |  
          |   |     | |  
          -------------  -->
    <td class="groups">
      <p class="section-header"><span>Groups</span><span class="clickable" *ngIf="groupadmin" (click)="onManageGroupsClick()">Manage</span></p>
      <div class="group-contianer" *ngFor="let group of groups; index as i">
        <div class="group clickable" [class.expanded]="channel_list_visibilities[i]" (click)="onGroupClick(i)">
          <span>{{group.name}}</span>
          <img class="clickable" src="/assets/expand_more.png">
          <span class="warning clickable" *ngIf="editing_groups" (click)="onClickDeleteGroup(i)">Delete</span>
          <span class="clickable" *ngIf="editing_groups" (click)="onClickGroupMembers(i)">Members</span>
        </div>
        <div class="channel-list" *ngIf="channel_list_visibilities[i]">
          <div class="channel clickable" *ngFor="let channel of group.channels; index as j" (click)="onClickChannel(channel)">
            <span># {{channel.name}}</span>
            <span class="warning clickable" *ngIf="editing_groups" (click)="onClickDeleteChannel(i, j)">Delete</span>
            <span class="clickable" *ngIf="editing_groups" (click)="onClickChannelMembers(i, j)">Members</span>
          </div>
          <div class="channel clickable" *ngIf="editing_groups" (click)="onClickNewChannel(i)">
            <span class="clickable">+ Create new channel</span>
          </div>
        </div>
      </div>
      <div class="group-contianer" *ngIf="editing_groups">
          <div class="group clickable" (click)="onNewGroupClick()">
            <span class="clickable">+ Create new group</span>
          </div>
      </div>
    </td>
    
    <!--  ------------- 
          |   |     | |  
          -------------  
          |   |     | |  
          |   |  X  | | 
          |   |     | |  
          ----------| |  
          |   |     | |  
          -------------  -->
    <td class="message-list">
      <div class="message" *ngFor="let message of messages, index as i" [style.background]="getColor(message.color)">
        <div class="username">
          {{message.username}}
        </div>
        <div class="content">
          {{message.content}}&nbsp;
        </div>
        <div class="datetime">
          {{message.datetime}}
        </div>
      </div>
    </td>

    <!--  ------------- 
          |   |     | |  
          -------------  
          |   |     | |  
          |   |     |X| 
          |   |     | |  
          ----------| |  
          |   |     | |  
          -------------  -->
    <td class="participants" rowspan="2" style="width: 200px;">
      <p class="section-header">Participants</p>
      <div *ngFor="let participant of participants, index as i">
        <span class="participant-name" [style.color]="getColor(participant.color, 0.6, 0.8)">{{participant.username}}</span>
        <span class="participant-admin" *ngIf="participant.isadmin">Admin</span>
      </div>
    </td>
  </tr>
  <tr class="bottom-row">
    
    <!--  ------------- 
          |   |     | |  
          -------------  
          |   |     | |  
          |   |     | | 
          |   |     | |  
          ----------| |  
          | X |     | |  
          -------------  -->
    <td class="user-settings">
      <table>
        <tr>
          <td class="username">{{username}}</td>
          <td class="manage-users clickable" (click)="onClickManageUsers()">Manage Users</td>
        </tr>
        <tr>
          <td class="useremail" colspan="2">{{useremail}}</td>
        </tr>
      </table>
      <!-- <button class="user-settings-button" mat-mini-fab>
        <mat-icon aria-label="User settings" svgIcon="settings"></mat-icon>
      </button> -->
    </td>
    
    <!--  ------------- 
          |   |     | |  
          -------------  
          |   |     | |  
          |   |     | | 
          |   |     | |  
          ----------| |  
          |   |  X  | |  
          -------------  -->
    <td class="new-message">

      <div class="new-message-container">
        <div class="username">
          {{username}}
        </div>
        <input class="content" placeholder="New message" name="newmessage" [(ngModel)]="newmessage">
        <div class="send clickable" (click)="submitMessage()"></div>
      </div>

    </td>
  </tr>
</table>
