@import '../../variables.scss';

#content{
	height: 100vh;
	width: 100vw;
	background-color: $color-background-primary;
	color: $color-text-bright;

	td{
		padding: 15px;
	}

	.top-row{
		height: 80px;

		.title{
			width: 400px;
			background-color: rgba(0, 0, 0, 0.7);
			
			text-align: center;
			font-family: 'Consolas';
			font-size: 4ex;
			font-weight: bold;
			letter-spacing: 5px;
		}

		.top-bar{
			background-color: rgba(0, 0, 0, 0.4);

			.channel-name{
				font-size: 2ex;
				font-weight: bold;
			}
			
			.sign-out{
				float: right;
			}
		}
	}

	.middle-row{
		.groups{
			background-color: rgba(0, 0, 0, 0.4);
			padding: 15px;

			.group{
				background-color: rgba(0, 0, 0, 0.3);
				padding: 15px;
				border-radius: $radius-small;

				img{
					float: right;
				}
			}

		}

		.messages{

		}

		.participants{
			width: 200px;
			background-color: rgba(0, 0, 0, 0.2);

		}
	}

	.bottom-row{
		height: 80px;

		.user-settings{
			background-color: rgba(0, 0, 0, 0.7);

			.username{
				font-size: 1.8ex;
			}

			.useremail{
				font-size: 1.2ex;
			}

			.user-settings-button{
				float: right;
			}
		}

		.new-message{
			background-color: rgba(0, 0, 0, 0.4);

		}
	}
}